<!DOCTYPE html>
<html>
  <head>
    <title>Rails01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <h1> Books </h1>
    <li><%= link_to "Home", books_path %><li>
    <li><%= link_to "Add a new book", books_new_path %><li>
  </header>
    <%= yield %>
  </body>
</html>
